/*
<!-- section article -->
    <div class="global" id="article">
        <section class="article">
            <h2>Recettes pour un Noël parfait</h2>
            <section class="article__recette">   
                <article id="article__laitpoule">
                    <h3>Une merveilleuse recette de lait de poule !</h3>
                    <h4>Recette du livre de Ricardo</h4>
                    <p>Le lait de poule est une boisson populaire à Noël. On opte pour cette version maison à base de lait chaud, de crème et de jaunes d’œufs. On aromatise le mélange avec du rhum ainsi que des épices et de la vanille. On range la boisson au réfrigérateur pour la refroidir avant de la filtrer. On lève notre verre à ce délice du temps des fêtes!</p>
                    <ul>
                        <li>Dans une casserole, hors du feu, mélanger au fouet le sucre et la fécule. Ajouter les oeufs les jaunes d’oeufs et les oeufs et mélanger jusqu’à ce que la préparation soit homogène. Ajouter le lait et la crème en fouettant continuellement. Porter à ébullition à feu moyen en remuant et en raclant le fond et la paroi de la casserole. Retirer du feu.</li>
                        <li>Ajouter le rhum, les épices et la vanille. Mélanger. Verser dans un contenant à fermeture hermétique. Laisser tiédir. Couvrir et réfrigérer 6 heures.</li>
                        <li>Déposer un tamis au-dessus d'un bol. Filtrer le lait de poule. Composter les épices et la vanille. Servir dans verre avec des glaçons, si désiré. Ajouter du lait ou du rhum, au goût.</li>
                    </ul>
                </article>
                <figure>
                    <img src="images/article/laitDePoule.jpg" alt="lait_de_poule">
                    <figcaption>Recette de lait de poule de Ricardo</figcaption>
                </figure>
            </section>
            <section class="article__recette">   
                <article id="article__paindepices">
                    <h3>Des savoureux biscuits de pain d'épice</h3>
                    <h4>Recette du livre de Ricardo</h4>
                    <p>On adore les biscuits de pain d’épice, que ce soit pour leur donner la forme de bonshommes ou pour construire des maisons. On a ici retravaillé la recette à maintes reprises avec pour objectif d’intensifier le bon goût d’épices. Explosion de saveurs annoncée!</p>
                    <ul>
                        <li>Dans une casserole, hors du feu, mélanger au fouet le sucre et la fécule. Ajouter les oeufs les jaunes d’oeufs et les oeufs et mélanger jusqu’à ce que la préparation soit homogène. Ajouter le lait et la crème en fouettant continuellement. Porter à ébullition à feu moyen en remuant et en raclant le fond et la paroi de la casserole. Retirer du feu.</li>
                        <li>Ajouter le rhum, les épices et la vanille. Mélanger. Verser dans un contenant à fermeture hermétique. Laisser tiédir. Couvrir et réfrigérer 6 heures.</li>
                        <li>Déposer un tamis au-dessus d'un bol. Filtrer le lait de poule. Composter les épices et la vanille. Servir dans verre avec des glaçons, si désiré. Ajouter du lait ou du rhum, au goût.</li>
                    </ul>
                </article>
                <figure>
                    <img src="images/article/painDepices.jpg" alt="pain_epices">
                    <figcaption>Recette de pain d'épice de Ricardo</figcaption>
                </figure>
            </section>
            <section class="article__recette">   
                <article id="article__laitpoule">
                    <h3>Un dinde aux épices et au miel</h3>
                    <h4>Recette du livre de Ricardo</h4>
                    <p>Au fond, une dinde, c’est juste un gros poulet. Il n’y a donc aucune raison de se laisser intimider par cette volaille grand format. Pour garantir une viande des plus tendres, on doit saumurer la dinde à sec en la frottant avec du sel et du citron et laisser la préparation agir deux jours.</p>
                    <ul>
                        <li>Dans une casserole, hors du feu, mélanger au fouet le sucre et la fécule. Ajouter les oeufs les jaunes d’oeufs et les oeufs et mélanger jusqu’à ce que la préparation soit homogène. Ajouter le lait et la crème en fouettant continuellement. Porter à ébullition à feu moyen en remuant et en raclant le fond et la paroi de la casserole. Retirer du feu.</li>
                        <li>Ajouter le rhum, les épices et la vanille. Mélanger. Verser dans un contenant à fermeture hermétique. Laisser tiédir. Couvrir et réfrigérer 6 heures.</li>
                        <li>Déposer un tamis au-dessus d'un bol. Filtrer le lait de poule. Composter les épices et la vanille. Servir dans verre avec des glaçons, si désiré. Ajouter du lait ou du rhum, au goût.</li>
                    </ul>
                </article>
                <figure>
                    <img src="images/article/dinde.jpg" alt="dinde">
                    <figcaption>Recette de lait de poule de Ricardo</figcaption>
                </figure>
            </section>
        </section>
    </div>
*/
.global section .article{
    flex: 0 0 auto;
}

.global .article{
    gap: 30px;
}

#article .article__recette{
    display: flex;
    flex-direction: row;
    padding: 25px;
    gap: 30px;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

#article .article__recette:nth-of-type(2n){
    flex-direction: row-reverse;
    background-color: rgb(4, 119, 19);
}

#article .article__recette:nth-of-type(odd){
    background-color: rgb(161, 19, 6);
}

#article h3,
#article h4{
    padding-bottom: 20px;
    color: white;
}

#article ul{
    gap: 15px;
    list-style-type: none;
}

#article ul li, 
#article p{
    margin-bottom: 20px;
}

#article .article__recette:nth-of-type(2n) p{
    background-color:  rgb(249, 183, 169);
}

#article .article__recette:nth-of-type(2n +1) p{
    background-color:  rgb(202, 249, 169);
}

#article img{
    width: 25vw;
}