
#entete header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* permet de définir le referentiel pour le menu */
    position: relative;
    background-image: linear-gradient(180deg, rgb(110 19 21), rgb(167 22 44));
}

/*/////////////////////Barre de recherche////////////////////////////*/
.entete__recherche{
    flex: 0;
    display: flex;
    flex-wrap: nowrap;
    /* background-color: rgba(0, 0, 0, 0.1); */
    background-color: #e2ffff;
    border: 1px solid #555;
    padding-left: 2px;
    margin-left: 10px;
    border-radius: 5px;
    height: 22px;
    align-items: center;
}

.entete__recherche input{
    width: 10vw;
    background-color: transparent;
    border: none;
}

.entete__recherche input:focus{
    outline: 1px dotted #fff;
    background-color: rgba(83, 44, 44, 0.5);
    border-right: 1px dotted #aaa;
}

/*///////////////////////////Logo et titre de l'entête////////////*/
.conteneur__logo_titre{
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1{
    font-family: 'Great Vibes', cursive;
    font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
}

header h4{
    margin-right: 20px;
    color: white;
}

h4 a{
    color: white;
}

h4 a:hover{
    color: gold;
}