/*
<!-- pied de page -->
<div class="global" id="piedpage">
    <footer>
        <!--///////////////////////////////////////////// première ligne-->
        <div class="footer__conteneur__1">
            <section class="footer__adresse">Adresse</section>
            <section class="footer__lien">Lien</section>
            <section class="footer__texte">Texte</section>
        </div>
        <!--///////////////////////////////////////////// deuxième ligne-->
        <div class="footer__conteneur__2">
            <section class="image">Images</section>
            <section class="footer__lien">Liens</section>
        </div>
        <!--///////////////////////////////////////////// troisième ligne-->
        <div class="footer__conteneur__3">
            <section class="icone">Icone</section>
        </div>
    </footer>
</div>
*/

footer{
    padding: 10px;
}

#piedpage > footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#piedpage > footer > div{
    display: flex;
    /*border: 1px solid #aaa; possiblement retiré*/
}

.footer__adresse ul,
.footer__lien ul{
    list-style-type: none;
}

.footer__conteneur__3{
    justify-content: center;
    gap: 20px;
}

.footer__sociaux figure{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer__image figure{
    display: flex;
    gap: 50px;
    padding-left: 10px;
}

footer h4{
    font-size: 1.1rem;
    margin-bottom: 10px;
}