/*
<figure class="galerie">
<figure class="galerie__figure">
    <img class="galerie__img" src="images/64a300d0572f25f2be24798b_papillon-monarque-emergence20-topweb.jpg" alt="">
    <figcaption class="galerie__caption"></figcaption>
</figure>
</figure>
*/

.galerie{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

/*conteneur d'image*/
.galerie__figure{
    width: 300px;
    transform: scale(1);
    transition: all .5s;
    /*border: 1px solid #444;*/
}

/*image*/
.galerie__img{
    width: 100%;
    filter: blur(2px) hue-rotate(70deg);
    /*on ajoute plusieurs filtres à la même propriété filter*/
    border: 2px solid white;
    outline: 2px solid #4f4

}

.galerie__figure:hover{
    transform: scale(2);
    /*Permet que l'image en focus s'affiche au dessus de toutes les autres*/
    z-index: 9;
}

.galerie__figure:hover .galerie__img{
    filter: none;
}

/* figcaption */
.galerie__caption{

}