/*------------------------------------------ Initialisation*/
*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

/*------------------------------------------*/
body{
    display: flex;
    /* on définit la direction de l'axe principale commme étant vertical */
    flex-direction: column;
    /*width: 100vw;*/
}

/*les conteneurs div autour de chaque section */
.global{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    min-width: 100%; 
    /*border: 1px solid #aaa;*/
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.global section,
.global header,
.global footer {
    display: flex;
    flex: 0 1 1000px;
    /*border: 1px solid #aaa;*/
    background-color: rgba(0,0,0,.1);
}

.global section,
.global footer{
    flex-direction: column;
}

#entete {
    background-image: linear-gradient(90deg, rgb(63, 10, 10), rgb(68, 0, 0));
    min-height: 1vh;
    position: sticky;
    top: 0;
    /*permet d'éviter que les éléments de la page aille part dessus l'entete*/
    z-index: 10;
}

#accueil{
    background-color: #de6e69;
}

#inscription{
    background-color: rgb(201, 154, 96);
}

#tableau{
    background-image: linear-gradient(45deg, white, rgb(82, 82, 238));
}

#article{
    background-color: greenyellow;
}

#galerie{
    background-color: rgb(181, 231, 164);
}

#piedpage{
    background-color: rgb(218, 134, 117);
    min-height: 45vh;
}

h2{
    margin-top: 8vh;
}