/*------------------------------------------ Initialisation*/
*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

/*------------------------------------------*/
body{
    display: flex;
    /* on définit la direction de l'axe principale commme étant vertical */
    flex-direction: column;
    color:aliceblue;
    overflow-x: hidden; /* cache la barre de défilement horizontale*/
}

/* POLICES
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Hedvig Letters Serif', serif;
font-family: 'Junge', cursive;
font-family: 'Merienda', cursive;
font-family: 'Monsieur La Doulaise', cursive;
font-family: 'Playball', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rosarivo', cursive;
font-family: 'Tangerine', cursive;
*/

/*les conteneurs div autour de chaque section */
.global{
    display: flex;
    justify-content: center;
    min-width: 100%; 
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}

div:target{
    background: linear-gradient(0deg, #7D3E00 -7.62%, #FFC170 14.51%, #FFEED8 32.4%, #FFC170 84.95%, #7D3E00 106.96%);
}

.global > section,
.global footer{
    display: flex;
    flex: 0 1 1000px;
    padding: 37px 30px;
}

.global > section{
    background-color: rgba(255, 255, 255, 0.7);
}

.global footer{
    background-color: rgba(0,0,0,.2);
}

.global section,
.global footer{
    flex-direction: column;
}

.global header{
    display: flex;
    flex: 0 1 1000px;
    background-color: rgba(0,0,0,.2);
}

#entete {
    background-image: linear-gradient(167deg, rgb(115 19 23), rgb(165 22 43));
    min-height: 1vh;
    position: sticky;
    top: 0;
    /*permet d'éviter que les éléments de la page aille part dessus l'entête*/
    z-index: 10;
}

#inscription,
#tableau,
#article,
#video_son,
#galerie{
    background-color: blanchedalmond;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    outline: 4px solid rgb(211, 170, 46);
    padding-bottom: 50px;
}

#piedpage{
    background-color: rgb(95, 20, 5);
    min-height: 45vh;
}

h2{
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    font-size: 4rem;
    border-bottom: solid 2px white;
    color: white;
    background-color: rgb(3, 53, 10);
    width: 100%;
    height: 100%;
    text-align: center;
    border: 6px ridge brown;
}

/*Pour que la première lettre du des titres H2 soit dans une autre police*/
h2::first-letter {
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: clamp(2.5rem, 1.8731rem + 3.3433vw, 6rem);
    color: white;
    font-weight: normal;
}

h3{
    font-size: 2rem;
    font-style: normal;
}

h3, p{
    color:black;
}

p{
    padding: 30px;
    font-size: 1.1rem;
}