/*font-family: 'Rosarivo', cursive;*/

table{
    border: 2px solid rgb(148, 0, 0);
    border-collapse: collapse;
    margin: 20px;
}

td, th{
    border: 1px solid #000000;
    font-size: 1.3rem;
    padding: 4px;
    margin: 6px;
}

th{
    background-color: #633d3d;
    width: 4rem;
}

td{
    text-align: center;
    font-family: 'Rosarivo', cursive;
    width: 7rem;
}

.horaire caption{
    font-family: 'Great Vibes', cursive;
    font-size: clamp(1.8rem, -1.5rem + 8vw, 2.5rem);
    color: black;
}

.jour_semaine{
    font-family: 'Junge', cursive;
}

.heure{
    font-family: 'Merienda', cursive;
}

/*///////////////////////////////////////////////////////////// couleurs des cours et des cases vides*/
.cours_ang{
    background-color: rgb(0, 116, 77);
}

.cours_edu{
    background-color: rgb(239, 164, 79);
}

.cours_conc{
    background-color: rgb(235, 104, 104);
}

.cours_web{
    background-color: rgb(255, 75, 66);
}

.cours_jeu{
    background-color: rgb(96, 255, 96);
}

.cours_vid{
    background-color: rgb(61, 61, 255);
}

.vide{
    background-color: rgb(255, 255, 255);
    
}

.pausecom{
    background-color: rgb(241, 175, 155);
}

/*////////////////////////couleur de la case "total d'heures de cours par jour" du pied du tableau*/
.piedtable__total{
    background-color: rgb(100, 36, 36);
    font-size: clamp(0.8rem, -1.5rem + 8vw, 1rem);
    font-weight: bold;
}
/*////////////////////////couleur des cases contenants les heures de cours au pied du tableau*/
.piedtable__nombre{
    background-color: #3b991c;
    font-weight: bold;
    font-size: clamp(0.8rem, -1.5rem + 8vw, 2rem);
}